[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openai = "*"
podman = "*"
tabulate = "*"
simple-parsing = "*"
tqdm = "*"
termcolor = "*"
pre-commit = "*"
ipython = "*"
mypy = "1.14.1"
types-requests = "*"
types-tqdm = "*"
types-tabulate = "*"
anthropic = "*"
pdfplumber = "*"
imageio = "*"
types-pyyaml = "*"
matplotlib = "*"

[requires]
python_version = "3.12"

[dev-packages]
